body{
  margin: 0;
}

.wrap{
  width: 720px;
  min-height: 500px;
}


.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.center{
  margin: 0 auto;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

header{
  width: 100%;
  background-color: #888;
  padding: 20px;
}

.layout-header{
  width: 720px;
}

footer{
  width: 100%;
  background-color: #888;
  padding: 20px;
  margin-top: 40px;
}

.layout-footer{
  width: 720px;
}
@media (max-width: 720px) {
  .wrap{
    width: 400px;
  }
  .content{
    width: 300px;
    padding: 0 10px;
  }
  .layout-header{
    width: 300px;
  }
  .layout-footer{
    width: 300px;
  }
}
@media (max-width: 420px) {
  .wrap{
    width: 100%;
  }
  .content{
    width: 100%;
  }
  .float-right{
    float: none;
  }
  .layout-header{
    width: 100%;
  }
  .layout-footer{
    width: 100%;
  }
}

